<mat-slider size="xsmall" showTickMarks discrete min="0" max="100" step="10">
  <input matSliderThumb aria-label="Slider with input thumb" [value]="10">
</mat-slider>

<mat-slider size="small" showTickMarks discrete min="0" max="100" step="10">
  <input matSliderThumb aria-label="Slider with input thumb" value="20">
</mat-slider>


<mat-slider size="medium" showTickMarks discrete min="0" max="100" step="10">
  <input matSliderThumb aria-label="Slider with input thumb" value="30">
</mat-slider>


<mat-slider size="large" showTickMarks discrete min="0" max="100" step="10" value="40">
  <input matSliderThumb aria-label="Slider with input thumb" value="40">
</mat-slider>


<mat-slider size="xlarge" showTickMarks discrete min="0" max="100" step="10" value="50">
  <input matSliderThumb aria-label="Slider with input thumb" value="50">
</mat-slider>
