// ============================================================================
// Angular Material Enhanced - Component Overrides (All-in-One Raw SCSS)
// https://github.com/laudebugs/ng-material-enhanced
// ============================================================================

// ----------------------------------------------------------------------------
// File: sizes.scss
// ----------------------------------------------------------------------------
$form-field-sizes: (
  small: 32px,
  medium: 40px,
  large: 48px,
  xlarge: 56px,
);

$button-sizes: (
  xsmall: 24px,
  small: 32px,
  medium: 40px,
  large: 48px,
  xlarge: 64px,
);

$slide-toggle-sizes: (
  xsmall: 20px,
  small: 24px,
  medium: 32px,
  large: 40px,
  xlarge: 48px,
);

$slider-sizes: (
  xsmall: 12px,
  small: 16px,
  medium: 20px,
  large: 24px,
  xlarge: 32px,
);

$progress-bar-sizes: (
  xsmall: 1px,
  small: 2px,
  medium: 4px,
  large: 6px,
  xlarge: 8px,
);

$chip-sizes: (
  small: 24px,
  medium: 32px,
  large: 40px,
  xlarge: 48px,
);


// ----------------------------------------------------------------------------
// File: mat-button.scss
// ----------------------------------------------------------------------------
@use '@angular/material' as mat;
@use 'sass:map';
@use 'sass:math';
@use './sizes' as sizes;
@use './theme-colors' as theme-colors;

$error-palette: map.get(theme-colors.$primary-palette, error);
$neutral-palette: map.get(theme-colors.$primary-palette, neutral);

// a list of filled, outlined, protected, tonal so that we can loop through it
$button-variants: filled, outlined, protected, tonal, text;

@mixin configure-button($height) {
  @each $variant in $button-variants {
    @include mat.button-overrides(
      (
        #{$variant}-container-height: $height,
        #{$variant}-touch-target-size: $height + 8px,
        #{$variant}-icon-spacing: math.div($height, 5),
        #{$variant}-icon-offset: - math.div($height, 5)
      )
    );
  }

  @include mat.button-overrides(
    (
      filled-horizontal-padding: math.div($height * 3, 5),
      outlined-horizontal-padding: math.div($height * 3, 5),
      protected-horizontal-padding: math.div($height * 3, 5),
      tonal-horizontal-padding: math.div($height * 3, 5),
      text-with-icon-horizontal-padding: math.div($height * 4, 10),
    )
  );

  .material-symbols-outlined {
    font-size: math.div($height * 3, 5);
  }
  mat-icon {
    font-size: math.div($height * 3, 5);
    width: math.div($height * 3, 5);
    height: math.div($height * 3, 5);
  }
  &[matIconButton] {
    @include mat.icon-button-overrides(
      (
        state-layer-size: $height,
        icon-size: math.div($height * 3, 5),
        touch-target-size: $height + 4px,
      )
    );
  }

  $fab-height: math.div($height * 7, 5);

  &[matFab] {
    @include mat.fab-overrides(
      (
        extended-container-height: $fab-height,
        touch-target-size: math.div($fab-height + 4px, 1),
        small-touch-target-size: math.div($fab-height + 4px, 1),
      )
    );
    .material-symbols-outlined {
      font-size: math.div($height * 4, 5);
    }
    mat-icon {
      font-size: math.div($height * 4, 5);
      width: math.div($height * 4, 5);
      height: math.div($height * 4, 5);
    }
    &.mat-mdc-fab-base {
      height: $fab-height;
      &:not([extended]) {
        width: $fab-height;
      }
    }
  }
  &[matMiniFab] {
    &.mat-mdc-fab-base {
      height: $height;
      width: $height;
    }
    @include mat.fab-overrides(
      (
        extended-container-height: $height,
        touch-target-size: $height + 4px,
        small-touch-target-size: $height + 4px,
      )
    );
  }

  &.sh-round {
    @include mat.button-overrides(
      (
        filled-container-shape: 9999px,
        outlined-container-shape: 9999px,
        protected-container-shape: 9999px,
        text-container-shape: 9999px,
        tonal-container-shape: 9999px,
      )
    );
    @include mat.icon-button-overrides(
      (
        container-shape: 9999px,
      )
    );
    @include mat.fab-overrides(
      (
        container-shape: 9999px,
        extended-container-shape: 9999px,
        small-container-shape: 9999px,
      )
    );
  }
  &.sh-square {
    @include mat.button-overrides(
      (
        filled-container-shape: 0px,
        outlined-container-shape: 0px,
        protected-container-shape: 0px,
        text-container-shape: 0px,
        tonal-container-shape: 0px,
      )
    );
    @include mat.icon-button-overrides(
      (
        container-shape: 0px,
      )
    );
    @include mat.fab-overrides(
      (
        container-shape: 0px,
        extended-container-shape: 0px,
        small-container-shape: 0px,
      )
    );
  }
  // if doesn't have shape attribute, set the default shape to rounded corners
  &.sh-squircle,
  &:not(.sh-round):not(.sh-square):not(.sh-squircle) {
    @include mat.button-overrides(
      (
        filled-container-shape: math.div($height, 4),
        outlined-container-shape: math.div($height, 4),
        protected-container-shape: math.div($height, 4),
        text-container-shape: math.div($height, 4),
        tonal-container-shape: math.div($height, 4),
      )
    );
    @include mat.icon-button-overrides(
      (
        container-shape: math.div($height, 4),
      )
    );
    @include mat.fab-overrides(
      (
        container-shape: math.div($fab-height, 4),
        extended-container-shape: math.div($fab-height, 4),
        small-container-shape: math.div($fab-height, 4),
      )
    );
  }
  &.destructive {
    @include mat.button-overrides(
      (
        filled-container-color: map.get($error-palette, 40),
        filled-state-layer-color: color-mix(
            in srgb,
            map.get($error-palette, 100) 8%,
            map.get($error-palette, 40)
          ),
        filled-ripple-color: color-mix(
            in srgb,
            map.get($error-palette, 100) 12%,
            map.get($error-palette, 40)
          ),
        tonal-container-color: map.get($error-palette, 90),
        tonal-label-text-color: map.get($error-palette, 40),
        tonal-state-layer-color: color-mix(
            in srgb,
            map.get($error-palette, 30) 8%,
            map.get($error-palette, 90)
          ),
        tonal-ripple-color: color-mix(
            in srgb,
            map.get($error-palette, 30) 12%,
            map.get($error-palette, 90)
          ),
        outlined-outline-color: map.get($error-palette, 40),
        outlined-ripple-color: color-mix(in srgb, map.get($error-palette, 40) 12%, transparent),
        outlined-state-layer-color: color-mix(in srgb, map.get($error-palette, 40) 8%, transparent),
        outlined-label-text-color: map.get($error-palette, 40),
        protected-label-text-color: map.get($error-palette, 40),
        protected-state-layer-color: color-mix(
            in srgb,
            map.get($error-palette, 40) 8%,
            map.get($neutral-palette, 96)
          ),
        protected-ripple-color: color-mix(
            in srgb,
            map.get($error-palette, 40) 12%,
            map.get($neutral-palette, 96)
          ),
      )
    );

    @include mat.icon-button-overrides(
      (
        icon-color: map.get($error-palette, 40),
        ripple-color: color-mix(in srgb, map.get($error-palette, 40) 12%, transparent),
        state-layer-color: color-mix(in srgb, map.get($error-palette, 40) 8%, transparent),
      )
    );

    @include mat.fab-overrides(
      (
        container-color: map.get($error-palette, 80),
        foreground-color: map.get($error-palette, 40),
        ripple-color: color-mix(in srgb, map.get($error-palette, 40) 12%, transparent),
        state-layer-color: color-mix(in srgb, map.get($error-palette, 40) 8%, transparent),
      )
    );
  }
}

// function that loops through all the button sizes and applies the overrides
@mixin button-overrides($sizes) {
  @each $size, $height in $sizes {
    &.sz-#{$size} {
      @include configure-button($height);
    }
  }
}

button {
  &[matButton],
  &[matIconButton],
  &[matFab],
  &[matMiniFab] {
    // use function to apply overrides for all sizes
    @include button-overrides(sizes.$button-sizes);
  }
}


// ----------------------------------------------------------------------------
// File: mat-button-toggle.scss
// ----------------------------------------------------------------------------
@use '@angular/material' as mat;
@use 'sass:math';
@use './sizes.scss' as sizes;


@mixin button-toggle-overrides($sizes) {
  @each $size, $height in $sizes {
    &.sz-#{$size} {
      @include mat.button-toggle-overrides(
        (
          height: $height,
        )
      );
      .material-symbols-outlined {
        font-size: math.div($height * 3, 5);
      }
      mat-icon {
        font-size: math.div($height * 3, 5);
        width: math.div($height * 3, 5);
        height: math.div($height * 3, 5);
      }
    }
  }
  &.sh-round {
    @include mat.button-toggle-overrides(
      (
        shape: 9999px,
      )
    );
  }
  &.sh-square {
    @include mat.button-toggle-overrides(
      (
        shape: 0px,
      )
    );
  }
  &.sh-squircle,
  &:not(.sh-round):not(.sh-square):not(.sh-squircle) {
    @include mat.button-toggle-overrides(
      (
        shape: 8px,
      )
    );
  }
}

mat-button-toggle-group {
  // use function to apply overrides for all sizes
  @include button-toggle-overrides(sizes.$button-sizes);
}


// ----------------------------------------------------------------------------
// File: mat-checkbox.scss
// ----------------------------------------------------------------------------
@use '@angular/material' as mat;
@use 'sass:math';
@use 'sass:map';
@use './theme-colors' as theme-colors;
@use './sizes.scss' as sizes;

$neutral-palette: map.get(theme-colors.$primary-palette, neutral);
$error-palette: map.get(theme-colors.$primary-palette, error);

@mixin configure-check-box($height) {
  @include mat.checkbox-overrides(
    (
      state-layer-size: $height,
      touch-target-size: $height + 8px,
    )
  );
}

@mixin check-box-overrides($sizes) {
  @each $size, $height in $sizes {
    &.sz-#{$size} {
      @include configure-check-box($height);
    }
  }
}

mat-checkbox {
  // use function to apply overrides for all sizes
  @include check-box-overrides(sizes.$form-field-sizes);

  // if no size attribute, use the medium size as default
  &:not(.sz-small):not(.sz-medium):not(.sz-large):not(.sz-xlarge) {
    $medium-height: map.get(sizes.$form-field-sizes, medium);
    @include configure-check-box($medium-height);
  }

   &.destructive {
    @include mat.checkbox-overrides(
      (
        selected-hover-icon-color: map.get($error-palette, 40),
        selected-icon-color: map.get($error-palette, 40),
        selected-focus-icon-color: map.get($error-palette, 40),
        selected-pressed-icon-color: map.get($error-palette, 40),
        selected-checkmark-color: map.get($error-palette, 90),
        selected-focus-state-layer-color: color-mix(in srgb, map.get($error-palette, 40) 8%, map.get($neutral-palette, 96)),
        selected-pressed-state-layer-color: color-mix(in srgb, map.get($error-palette, 40) 12%, map.get($neutral-palette, 96)),
        unselected-pressed-state-layer-color: map.get($error-palette, 40)
      )
    );
  }
}



// ----------------------------------------------------------------------------
// File: mat-chip.scss
// ----------------------------------------------------------------------------
@use '@angular/material' as mat;
@use 'sass:math';
@use 'sass:map';
@use './sizes.scss' as sizes;
@use './mat-button.scss' as button-overrides;

@mixin configure-chip($height) {
  @include mat.chips-overrides(
    (
      container-height: $height,
      // chip-touch-target-size: $height + 8px,
      container-shape-radius: math.div($height, 4),
      with-avatar-avatar-shape-radius: math.div($height * 3, 4),
      with-avatar-avatar-size: math.div($height * 3, 4),
      with-icon-icon-size: calc($height * 9 / 16),
    )
  );

  button {
    &[matChipEdit],
    &[matChipRemove] {
      @include button-overrides.configure-button($height);
      height: calc($height * 9 / 16);
      width: calc($height * 9 / 16);
    }
  }
  &.sh-round {
    @include mat.chips-overrides(
      (
        container-shape-radius: 9999px,
      )
    );
  }
  &.sh-square {
    @include mat.chips-overrides(
      (
        container-shape-radius: 0px,
      )
    );
  }
  &.sh-squircle,
  &:not(.sh-round):not(.sh-square):not(.sh-squircle) {
    @include mat.chips-overrides(
      (
        container-shape-radius: math.div($height, 4),
      )
    );
  }
}

@mixin chip-overrides($sizes) {
  @each $size, $height in $sizes {
    &.sz-#{$size} {
      @include configure-chip($height);
    }
  }
}

mat-chip,
mat-chip-row {
  // use function to apply overrides for all sizes
  @include chip-overrides(sizes.$chip-sizes);

  // if no size class, use the medium size as default
  &:not(.sz-small):not(.sz-medium):not(.sz-large):not(.sz-xlarge) {
    $medium-height: map.get(sizes.$chip-sizes, medium);
    @include configure-chip($medium-height);
  }
}




// ----------------------------------------------------------------------------
// File: mat-form-field.scss
// ----------------------------------------------------------------------------
@use '@angular/material' as mat;
@use 'sass:map';
@use 'sass:math';
@use './sizes' as sizes;
@use './mat-button.scss' as button-overrides;

@mixin configure-form-field($height) {
  $input-height: calc($height * 2 / 3);
  // if size is small and not appearance outline, set height to 40px;

  @include mat.form-field-overrides(
    (
      container-height: $height,
      container-text-size: 1em,
      filled-label-text-size: 0.9rem,
      container-vertical-padding: math.div(($height - $input-height), 2),
      filled-with-label-container-padding-top: calc(($height - $input-height) * 3 / 4),
      filled-with-label-container-padding-bottom: calc(($height - $input-height) / 4),
    )
  );
  &.sh-squircle,
  &:not(.sh-square):not(.sh-squircle) {
    @include mat.form-field-overrides(
      (
        // BORDER RADIUS OF FORM FIELD
        outlined-container-shape: math.div($height, 8),
        filled-container-shape: math.div($height, 8)
      )
    );
  }
  &.sh-square {
    @include mat.form-field-overrides(
      (
        // BORDER RADIUS OF FORM FIELD
        outlined-container-shape: 0px,
        filled-container-shape: 0px
      )
    );
  }

  &.no-hint, &.no-error {
    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
  }

  .mat-mdc-form-field-icon-prefix > .mat-icon, .mat-mdc-form-field-icon-suffix > .mat-icon {
    padding: 0 calc($height / 8);
  }
  input.mat-mdc-input-element.mat-mdc-input-element {
    height: $input-height;
  }
  .mat-mdc-text-field-wrapper {
    padding-left: calc($height/4);
  }
  .mat-mdc-form-field-flex,
  .mat-mdc-text-field-wrapper,
  .mat-mdc-form-field-infix {
    // WE want to target only input elements and not text areas
    &:has(input[matInput]) {
      height: $height;
    }
  }

  mat-select,
  mat-select > .mat-mdc-select-trigger {
    min-height: $input-height;
  }
  mat-option {
    min-height: $height;
  }
}

@mixin form-field-overrides($sizes) {
  align-self: flex-start;

  @each $size, $height in $sizes {
    &.sz-#{$size} {
      @include configure-form-field($height);
    }
  }
}

@mixin form-field-button-without-size-config($height) {
  button {
    &[matButton],
    &[matIconButton],
    &[matFab],
    &[matMiniFab] {
      // doesn't have size class, use the size of the form field to determine the button size
      &:not(.sz-xsmall):not(.sz-small):not(.sz-medium):not(.sz-large):not(.sz-xlarge) {
        @include button-overrides.configure-button($height);
      }
    }
  }
}

mat-form-field {
  // use function to apply overrides for all sizes
  @include form-field-overrides(sizes.$form-field-sizes);

  // apply button overrides to the buttons inside the form field based on form-field size
  @each $size, $height in sizes.$form-field-sizes {
    &.sz-#{$size} {
      @include form-field-button-without-size-config($height);
    }
  }
  // if no size class, use the medium size as default
  &:not(.sz-small):not(.sz-medium):not(.sz-large):not(.sz-xlarge) {
    $medium-height: map.get(sizes.$form-field-sizes, medium);
    @include configure-form-field($medium-height);
    @include form-field-button-without-size-config($medium-height);
  }
}




// ----------------------------------------------------------------------------
// File: mat-progress-bar.scss
// ----------------------------------------------------------------------------
@use '@angular/material' as mat;
@use 'sass:map';
@use './sizes.scss' as sizes;


@mixin configure-progress-bar($height) {
  @include mat.progress-bar-overrides(
    (
      active-indicator-height: $height,
      track-height: $height,
    )
  );
  // shape
  &.sh-round {
    @include mat.progress-bar-overrides(
      (
        track-shape: 9999px,
      )
    );
    border-radius: calc($height / 4);
  }
  &.sh-squircle,
  &:not(.sh-round):not(.sh-square):not(.sh-squircle) {
    @include mat.progress-bar-overrides(
      (
        track-shape: calc($height / 4),
      )
    );
    border-radius: calc($height / 4);
  }
  &.sh-square {
    @include mat.progress-bar-overrides(
      (
        track-shape: 0px,
      )
    );
    border-radius: 0px;
  }
}

@mixin progress-bar-overrides($sizes) {
  @each $size, $height in $sizes {
    &.sz-#{$size} {
      @include configure-progress-bar($height);
    }
  }
}

mat-progress-bar {
  // use function to apply overrides for all sizes
  @include progress-bar-overrides(sizes.$progress-bar-sizes);

  // if no size class, use the medium size as default
  &:not(.sz-xsmall):not(.sz-small):not(.sz-medium):not(.sz-large):not(.sz-xlarge) {
    $medium-height: map.get(sizes.$progress-bar-sizes, medium);
    @include configure-progress-bar($medium-height);
  }
}


// ----------------------------------------------------------------------------
// File: mat-radio-button.scss
// ----------------------------------------------------------------------------
@use '@angular/material' as mat;
@use 'sass:math';
@use 'sass:map';
@use './sizes.scss' as sizes;

@mixin configure-radio-button($height) {
  @include mat.radio-overrides(
    (
      state-layer-size: $height,
      touch-target-size: $height + 8px,
    )
  );
}

@mixin radio-button-overrides($sizes) {
  @each $size, $height in $sizes {
    &.sz-#{$size} {
      @include configure-radio-button($height);
    }
  }
}

mat-radio-button {
  // use function to apply overrides for all sizes
  @include radio-button-overrides(sizes.$form-field-sizes);

  // if no size class, use the medium size as default
  &:not(.sz-small):not(.sz-medium):not(.sz-large):not(.sz-xlarge) {
    $medium-height: map.get(sizes.$form-field-sizes, medium);
    @include configure-radio-button($medium-height);
  }
}


// ----------------------------------------------------------------------------
// File: mat-slide-toggle.scss
// ----------------------------------------------------------------------------
@use '@angular/material' as mat;
@use 'sass:math';
@use 'sass:map';
@use './sizes.scss' as sizes;

@mixin configure-mat-slide-toggle($height) {
  @include mat.slide-toggle-overrides(
    (
      state-layer-size: calc($height * 5 / 4),
      track-height: calc($height),
      pressed-handle-size: calc($height * 7 / 8),
      unselected-handle-size: calc($height * 1 / 2),
      selected-handle-size: calc($height * 3 / 4),
      unselected-icon-size: calc($height * 1 / 2),
      selected-icon-size: calc($height * 1 / 2),
      with-icon-handle-size: calc($height * 3 / 4),
      touch-target-size: calc($height * 3 / 2),
      track-width: calc($height * 13 / 8),
      selected-handle-horizontal-margin: '0 #{calc($height * 3/4)}',
      selected-pressed-handle-horizontal-margin: '0 #{calc($height * 11/16)}',
      selected-with-icon-handle-horizontal-margin: '0 #{calc($height * 3/4)}',
      unselected-handle-horizontal-margin: '0 #{calc($height * 1/4)}',
    )
  );
}

@mixin mat-slide-toggle-overrides($sizes) {
  @each $size, $height in $sizes {
    &.sz-#{$size} {
      @include configure-mat-slide-toggle($height);
    }
  }
}


mat-slide-toggle {
  // use function to apply overrides for all sizes
  @include mat-slide-toggle-overrides(sizes.$slide-toggle-sizes);

  // if no size class, use the medium size as default
  &:not(.sz-xsmall):not(.sz-small):not(.sz-medium):not(.sz-large):not(.sz-xlarge) {
    $medium-height: map.get(sizes.$slide-toggle-sizes, medium);
    @include configure-mat-slide-toggle($medium-height);
  }
}




// ----------------------------------------------------------------------------
// File: mat-slider.scss
// ----------------------------------------------------------------------------
@use '@angular/material' as mat;
@use 'sass:map';
@use './sizes.scss' as sizes;

@mixin configure-slider($height) {
  @include mat.slider-overrides(
    (
      handle-height: $height,
      handle-width: $height,
      inactive-track-height: calc($height / 4),
      active-track-height: calc($height / 4),
      value-indicator-height: calc($height * 3 / 2),
      value-indicator-width: calc($height * 3 / 2),
      value-indicator-transform-origin: '0, #{calc($height * 3/4)}',
      value-indicator-container-transform:'translateX(-50%) translateY(#{-$height * 2}) rotate(-45deg)',
      label-label-text-size: calc(0.75rem * $height/20px),
    )
  );
  height: calc($height * 12 / 5);
  mat-slider-visual-thumb {
    height: calc($height * 12 / 5);
    width: calc($height * 12 / 5);
    .mat-ripple {
      border-radius: calc($height * 3 / 4);
    }
  }
  input {
    height: calc($height * 11 / 5);
  }
  .mdc-slider__track {
    left: - calc((20px - $height));
  }
  .mdc-slider__value-indicator-container {
    bottom: 0;
  }
}

@mixin slider-overrides($sizes) {
  @each $size, $height in $sizes {
    &.sz-#{$size} {
      @include configure-slider($height);
    }
  }
}

mat-slider {
  // use function to apply overrides for all sizes
  @include slider-overrides(sizes.$slider-sizes);

  // if no size class, use the medium size as default
  &:not(.sz-xsmall):not(.sz-small):not(.sz-medium):not(.sz-large):not(.sz-xlarge) {
    $medium-height: map.get(sizes.$slider-sizes, medium);
    @include configure-slider($medium-height);
  }
}


// ----------------------------------------------------------------------------
// File: _mat-overrides.scss
// ----------------------------------------------------------------------------
@forward './mat-button-toggle.scss';
@forward './mat-button.scss' hide $neutral-palette, $error-palette;
@forward './mat-checkbox.scss' hide $neutral-palette, $error-palette;
@forward './mat-chip.scss';
@forward './mat-form-field.scss';
@forward './mat-progress-bar.scss';
@forward './mat-radio-button.scss';
@forward './mat-slide-toggle.scss';
@forward './mat-slider.scss';


