<mat-button-toggle-group name="fontStyle" size="xsmall">
  <mat-button-toggle value="bold">Bold</mat-button-toggle>
  <mat-button-toggle value="italic">Italic</mat-button-toggle>
  <mat-button-toggle value="underline">Underline</mat-button-toggle>
</mat-button-toggle-group>


<mat-button-toggle-group name="fontStyle" size="medium" aria-label="Font Style">
  <mat-button-toggle value="bold">H1</mat-button-toggle>
  <mat-button-toggle value="italic">H2</mat-button-toggle>
  <mat-button-toggle value="underline">H3</mat-button-toggle>
</mat-button-toggle-group>
