@use '@angular/material' as mat;
@use 'sass:map';
@use 'sass:math';
@use './sizes' as sizes;

@mixin configure-radio-button($height) {
  @include mat.radio-overrides(
    (
      state-layer-size: $height,
      touch-target-size: $height + 8px,
    )
  );
}

@mixin radio-button-overrides($sizes) {
  @each $size, $height in $sizes {
    &.sz-#{$size} {
      @include configure-radio-button($height);
    }
  }
}

mat-radio-button {
  // use function to apply overrides for all sizes
  @include radio-button-overrides(sizes.$form-field-sizes);

  // if no size class, use the medium size as default
  &:not(.sz-small):not(.sz-medium):not(.sz-large):not(.sz-xlarge) {
    $medium-height: map.get(sizes.$form-field-sizes, medium);
    @include configure-radio-button($medium-height);
  }
}
