@use '@angular/material' as mat;
@use 'sass:math';
@use './sizes.scss' as sizes;


@mixin button-toggle-overrides($sizes) {
  @each $size, $height in $sizes {
    &.sz-#{$size} {
      @include mat.button-toggle-overrides(
        (
          height: $height,
        )
      );
      .material-symbols-outlined {
        font-size: math.div($height * 3, 5);
      }
      mat-icon {
        font-size: math.div($height * 3, 5);
        width: math.div($height * 3, 5);
        height: math.div($height * 3, 5);
      }
    }
  }
  &.sh-round {
    @include mat.button-toggle-overrides(
      (
        shape: 9999px,
      )
    );
  }
  &.sh-square {
    @include mat.button-toggle-overrides(
      (
        shape: 0px,
      )
    );
  }
  &.sh-squircle,
  &:not(.sh-round):not(.sh-square):not(.sh-squircle) {
    @include mat.button-toggle-overrides(
      (
        shape: 8px,
      )
    );
  }
}

mat-button-toggle-group {
  // use function to apply overrides for all sizes
  @include button-toggle-overrides(sizes.$button-sizes);
}
