@use '@angular/material' as mat;
@use 'sass:math';
@use 'sass:map';
@use './sizes.scss' as sizes;
@use './mat-button.scss' as button-overrides;

@mixin configure-chip($height) {
  @include mat.chips-overrides(
    (
      container-height: $height,
      // chip-touch-target-size: $height + 8px,
      container-shape-radius: math.div($height, 4),
      with-avatar-avatar-shape-radius: math.div($height * 3, 4),
      with-avatar-avatar-size: math.div($height * 3, 4),
      with-icon-icon-size: calc($height * 9 / 16),
    )
  );

  button {
    &[matChipEdit],
    &[matChipRemove] {
      @include button-overrides.configure-button($height);
      height: calc($height * 9 / 16);
      width: calc($height * 9 / 16);
    }
  }
  &.sh-round {
    @include mat.chips-overrides(
      (
        container-shape-radius: 9999px,
      )
    );
  }
  &.sh-square {
    @include mat.chips-overrides(
      (
        container-shape-radius: 0px,
      )
    );
  }
  &.sh-squircle,
  &:not(.sh-round):not(.sh-square):not(.sh-squircle) {
    @include mat.chips-overrides(
      (
        container-shape-radius: math.div($height, 4),
      )
    );
  }
}

@mixin chip-overrides($sizes) {
  @each $size, $height in $sizes {
    &.sz-#{$size} {
      @include configure-chip($height);
    }
  }
}

mat-chip,
mat-chip-row {
  // use function to apply overrides for all sizes
  @include chip-overrides(sizes.$chip-sizes);

  // if no size class, use the medium size as default
  &:not(.sz-small):not(.sz-medium):not(.sz-large):not(.sz-xlarge) {
    $medium-height: map.get(sizes.$chip-sizes, medium);
    @include configure-chip($medium-height);
  }
}


